<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cafooca.synthetics">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
     <meta-data android:name="com.google.android.geo.API_KEY"
               android:value="AIzaSyAs4k7r81L8a_kk51E_piDGxHjkNS-EVp0"/>

    </application>
   
</manifest>
