<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457040921305-korutj3qeuht2ab4c965j2di8icn2i5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457040921305-korutj3qeuht2ab4c965j2di8icn2i5s</string>
	<key>API_KEY</key>
	<string>AIzaSyBGj0rSrxYPZWnH4e9iYIRk86Zt6BQ6BsY</string>
	<key>GCM_SENDER_ID</key>
	<string>457040921305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.segp.cfcalc</string>
	<key>PROJECT_ID</key>
	<string>cfcalc</string>
	<key>STORAGE_BUCKET</key>
	<string>cfcalc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457040921305:ios:060d3d94714123fd8c34c8</string>
	<key>DATABASE_URL</key>
	<string>https://cfcalc.firebaseio.com</string>
</dict>
</plist>